@import "tailwindcss";
@font-face {
    font-family: 'Neue Regrade';
    src: url('Assets/Fonts/Neue-Regrade-Regular-BF65af35d81f2ff.otf');
    font-display: swap;
}

body{
    font-family: 'Neue Regrade', sans-serif;
}
/* Custom-colors */
.text-green{
color: #00ffd1;
}



.gray-white{
    color: #b3b3b3;
}
.text-orange{
    color: #ff5900;
}
.bg-orange{
    background-color: #ff5900;
}
.light-green{
    color: rgba(222, 255, 166, 1);
}
.cyan{
    color: rgba(0, 255, 209, 1);
}
